.container {
  float: center;
  width: 710px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

body {
  background: black;
  font-family: verdana,sans-serif;
}

header {
  margin-top: 20px;
  float: right;
  text-align: center;
}

footer {
  text-align: center;
}

section {
  padding-top: 80px;
  color: black;
  }

section:hover {
  color: white;
  transition-property: color;
  transition-duration: 10s;
  transition-timing-fonction: linear;
  animation-iteration-count: 1;   
}

section h1 {
  border-bottom:1px dashed white;
  font-size: 150%;
  color: white;
}

nav {
  background-color: #19191A;
  white-space: nowrap;
}

a {
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: sandybrown;   
  text-decoration: underline;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 15px;
}

a.button {
  text-align: center;
  display: block;
  padding: 8px;
  font-size: 100%;
  font-weight: normal;
  margin:2px;
  background-color: #19191A;
  border:1px groove white;
}

a.button:hover {
  background-color: #19191A;
  border:1px groove sandybrown;
  color: sandybrown;
  text-decoration: none;
}
