<h1><b>Une neige et des baisers exacts</b></h1>

<p>

    <TABLE> <TR >
     <TD> <a href="http://www.amazon.fr/neige-baisers-exacts-Lysiane-Rakotoson/dp/2841161641/" target="_blank"><%= image_tag("image_receuil.jpg", :alt => "image du receuil manquante", :width => "270") %></a>
     <TD> <%= image_tag("play.jpg") %><a href ="http://www.youtube.com" class ="button">Lecture: Lysiane Rakotoson</a>
     	<br><br>
 	Le froid dessine chaque nerf chaque veine <br>
	dessille les yeux <br>
	épaissi encore un peu le pourpre <br>
	des lèvres:<br>
	lucidité de la peau.<br>
	Les organes pelotonnés dans le ventre, <br>
	tout à coup vifs dans le vent - <br>
	J'ai les mains retroussées contre l'aine, le sang <br>
	surchargé de marches sans ciels - la gorge <br>
	hérissée d'un mot d'amour. <br> <br>
     <TABLE> <TR>
     <TD><%= link_to "Extrait précédent", 'neige_coureuse', :class => "button" %>
     <TD><%= link_to "Extrait suivant", 'neige_assise', :class => "button" %>
     </TABLE> 
    </TABLE> 

