<h1><%= @titre %></h1>

<p>

	<TABLE border="1" width="600" align ="center" frame="void" rules="none"> 
        <TR> 

            <TD width="300"> 
    <%= image_tag("image_receuil.jpg", :alt => "image du receuil manquante", :size => "200%")%>
      
            <TD width="300">

    <a href= "neige_froid">Extrait précédent</a> <br>
    <br>
	<br>
	<br>
    <br>
    <br>
    <br>
    <br>
	Assise dans le parc <br> 
	clous dans la gorge sèche <br> 
	j'acquiese <br> 
	aux souffles colonisés par ton souvenir. <br> 
	<br> 
	<br> 
	<br> 
	<br> 
	<%= image_tag("play.jpg", :alt => "image du bouton play manquante", )%> <br>
	Extrait suivant

    </TABLE> 

	<a href="http://www.amazon.fr/neige-baisers-exacts-Lysiane-Rakotoson/dp/2841161641/"><b><u>En vente sur amazon</b></u></a>