<h1><b>Une neige et des baisers exacts</b></h1>

<p>

    <TABLE> <TR >
     <TD> <a href="http://www.amazon.fr/neige-baisers-exacts-Lysiane-Rakotoson/dp/2841161641/" target="_blank"><%= image_tag("image_receuil.jpg", :alt => "image du receuil manquante", :width => "270") %></a>
     <TD> <%= image_tag("play.jpg") %><a href ="http://www.youtube.com" class ="button">Lecture: Lysiane Rakotoson</a>
     <br>
     <br>
     <br>
     <b><i>« Sois une coureuse de lumière, <br>
	 éprouve ta chanson jusqu’au fond du ventre »,<br> </i>
	 me disais-je.<br> 
	 Aussi je conquiers chaque heure<br> 
	 Et je moissonne mes labours:<br> 
	 Ton visage en enfilade – variable<br>
	 J’accompagne la terre et sa leçon de pénombre...</b><br>
     <br>
     <br>
     <br>
     <TABLE> <TR>
     <TD><%= link_to "Extrait précédent", 'neige_assise', :class => "button" %>
     <TD><%= link_to "Extrait suivant", 'neige_froid', :class => "button" %>
     </TABLE> 
    </TABLE> 







	




