<h1><%= @titre %></h1>

<p>

    <TABLE border="0.2" width="600" align ="center" frame="void" rules="none"> 
        <TR> 

            <TD width="300"> 
     <%= image_tag("image_receuil.jpg", :alt => "image du receuil manquante") %>

            <TD width="300">
    
     Extrait précédent<br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     « Sois une coureuse de lumière, <br>
	 éprouve ta chanson jusqu’au fond du ventre »,<br> 
	 me disais-je.<br> 
	 Aussi je conquiers chaque heure<br> 
	 Et je moissonne mes labours:<br> 
	 Ton visage en enfilade – variable<br>
	 J’accompagne la terre et sa leçon de pénombre..  </i><br>
	 <br>
	<%= image_tag("play.jpg", :alt => "image du bouton play manquante", )%> <br>
	 <a href= "neige_froid">Extrait suivant</a> 
    </TABLE> 

    <a href="http://www.amazon.fr/neige-baisers-exacts-Lysiane-Rakotoson/dp/2841161641/"><b><u>En vente sur amazon</b></u></a>
	




